<h1>タスク 編集</h1>
<%= form_with model: @task, url: "/tasks/#{@task.id}", method: :patch, local: true do |f| %>
  <a>タイトル <%= f.text_field :title %></a><br>
  <a>内容 <%= f.text_field :content %></a><br>
  <%= f.submit "送信" %>
<% end %>
<%= link_to "一覧画面へ", "/tasks" %>
