<h1>タスク 一覧</h1>
<%= link_to "投稿画面へ", "/tasks/new" %>
<% @tasks.each do |task| %>
  <p>
    <%= task.title %>
    <%= task.content %>
    <%= link_to "詳細", "/tasks/#{task.id}", method: :get %>
    <%= link_to "編集", "/tasks/#{task.id}/edit", method: :get %>
  </p>
<% end %>
